.visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
  width: 1px;
  word-wrap: normal;
}

.board {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.space {
  list-style: none;
  margin: 5px;
}

.space img {
  width: 10em;
}

.space button {
  cursor: pointer;
  line-height: 0;
  font-size: 1em;
  border: 0;
  padding: 0;
}

.hide {
  display: none;
}